<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"
      integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <title>Document</title>
  </head>
  <body></body>
</html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.23.0/axios.min.js"
      integrity="sha512-Idr7xVNnMWCsgBQscTSCivBNWWH30oo/tzYORviOCrLKmBaRxRflm2miNhTFJNVmXvCtzgms5nlJF4az2hiGnA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <title>Chat</title>
  </head>
  <body>
    <div class="container" style="margin-top: 5%;" id="chats">
      <!-- <strong>Ashley Maddison</strong>
      <div>Reset my Windows Password</div> -->
    </div>
    <input id="message" />
    <button onclick="chat()">Send</button>
  </body>
  <script>
    function getParameterByName(name, url = window.location.href) {
      name = name.replace(/[\[\]]/g, '\\$&')
      var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
        results = regex.exec(url)
      if (!results) return null
      if (!results[2]) return ''
      return decodeURIComponent(results[2].replace(/\+/g, ' '))
    }
    var id = getParameterByName('id')

    var type = getParameterByName('type')
    let access = localStorage.getItem('access')
    let userDetails = JSON.parse(localStorage.getItem('user'))
    let chats = document.getElementById('chats')
    if (!access) window.location.href = '/login'
    const api = '{{api}}'
    axios.defaults.headers.common['Authorization'] = `Bearer ${access}`
    let url
    if (type == 'USER') {
      url = '/user/chat/get'
    } 
    function getMessage() {
      let message = ''
      axios
        .post(`${api}${url}`, {
          username: id,
        })
        .then((res) => {
            chats.innerHTML = ''
            res.data.chats.reverse().map((c) => {
              message =
                message +
                `<strong>${res.data.user_details[c.user_id1]}</strong>
      <div>${c.message}</div>`
            })
            chats.innerHTML = message
        })

        .catch((err) => {
          console.log(err.data)
          // logout()
        })
    }

    function logout() {
      localStorage.removeItem('access')
      localStorage.removeItem('user')
      window.location.reload()
    }
    function chat() {
      let username = id
      let message = document.getElementById('message')
      axios
        .post(`${api}/user/chat`, {
          username: username,
          message: message.value,
        })
        .then((res) => {
          // console.log(res.data)
          // getMessage()
          if (res.data.error) {
            alert(res.data.message)
            // window.location.reload()
          } else {
            message.value = ''
          }
        })
        .catch((err) => {
          console.log(err.data)
        })
    }

    getMessage()
    setInterval(() => {
      console.log("hii")
      getMessage()
    }, 1000)
  </script>
</html>
