<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.23.0/axios.min.js"
      integrity="sha512-Idr7xVNnMWCsgBQscTSCivBNWWH30oo/tzYORviOCrLKmBaRxRflm2miNhTFJNVmXvCtzgms5nlJF4az2hiGnA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <title>home</title>
  </head>
  <body>
    <div class="container" style="margin-top: 5%;">
      <h2>Chats</h2>
      <div class="row mt-5">
        <div class="col-md-12 mt-5">
          <div class="row">
            <div class="col-md-4">
              <p class="text-left">Name</p>
            </div>
            <div class="col-md-4">
              <p class="text=-left">Type</p>
            </div>
            <div class="col-md-4">
              <p class="text-left">Chat Link</p>
            </div>
          </div>

          <ul class="list-group" id="chats">
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>New User Chat</h2>
          <p>Username</p>
          <input id="new_username_chat" />
          <p>Message</p>
          <input id="message">
          <button onclick="chat()">Chat!!</button>
        </div> 
      </div>
    </div>
    
    <button onclick="logout()">Logout</button>
  </body>

  <script>
    let access = localStorage.getItem('access')
    let userDetails = JSON.parse(localStorage.getItem('user'))
    let chats = document.getElementById('chats')
    if (!access) window.location.href = '/login'
    const api = '{{api}}'
    axios.defaults.headers.common['Authorization'] = `Bearer ${access}`
    axios
      .get(`${api}/user/chat/recent`)
      .then((res) => {
        console.log(res.data)
        let data = ''
        // map is like for loop
        res.data.chats.map((c) => {
          console.log(c.type)
          if (c.type == 'USER') {
            data =
              data +
              `<li class="list-group-item">${c.username} &nbsp;&nbsp;&nbsp;${c.type} &nbsp;&nbsp;&nbsp;<a href='/chat?id=${c.username}&type=${c.type}'>Chat</a></li>`
          } else {
            data =
              data +
              `<li class="list-group-item">${c.group_name} &nbsp;&nbsp;&nbsp;${c.type} &nbsp;&nbsp;&nbsp;<a href='/chat?id=${c.id}&type=${c.type}'>Chat</a></li>`
          }
        })
        chats.innerHTML = data
      })
      .catch((err) => {
        console.log(err.data)
        logout()
      })
    function logout() {
      localStorage.removeItem('access')
      localStorage.removeItem('user')
      window.location.reload()
    }

    function chat(){
      let username = document.getElementById('new_username_chat').value;
      let message = document.getElementById('message').value;
      axios
      .post(`${api}/user/chat`,{
        username:username,
        message:message
      })
      .then((res) => {
        console.log(res.data);
        if(!res.data.error){
          alert(res.data.message)
          window.location.reload()
        }
      }).catch((err)=>{
        console.log(err.data);
      })
    }
  </script>
</html>
