<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"
      integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <title>Login</title>
  </head>
  <body>
    <h2>User Login</h2>
    <p>Username</p>
    <input id="username" />
    <p>Password</p>
    <input id="password" />
    <button onclick="login()">Submit</button>
    <a href="/signup">New User</a>
  </body>
  <script>
    const api = '{{api}}'
    function login() {
      let username = document.getElementById('username').value
      let password = document.getElementById('password').value
      axios
        .post(`${api}/user/login`, {
          username: username,
          password: password,
        })
        .then((res) => {
          localStorage.setItem('access', res.data.token)
          localStorage.setItem('user', JSON.stringify(res.data.user))
          alert(res.data.message)
          if (!res.data.error) window.location.href = '/'
        })
        .catch((err) => {
          alert(err.data.message)
          console.log(err.data)
        })
    }
  </script>
</html>
