<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"
      integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <title>Signup Page</title>
  </head>
  <body>
    <h2>User Signup</h2>
    <p>Name</p>
    <input id="name" />
    <p>Email</p>
    <input id="email" />
    <p>Username</p>
    <input id="username" />
    <p>password</p>
    <input id="password" />
    <button onclick="signup()">Submit</button>
  </body>
  <script>
    const api = '{{api}}'
    function signup() {
      let username = document.getElementById('username').value
      let password = document.getElementById('password').value
      let name = document.getElementById('name').value
      let email = document.getElementById('email').value
      axios
        .post(`${api}/user/signup`, {
          username: username,
          password: password,
          email: email,
          name: name,
        })
        .then((res) => {
          console.log(res.data)
          localStorage.setItem('access', res.data.token)
          localStorage.setItem('user', JSON.stringify(res.data.user))
          alert(res.data.message)
          // check if there is no error redirect to login page
          if (!res.data.error) window.location.href = '/login'
        })
        .catch((err) => {
          alert(err.data.message)
          console.log(err.data)
        })
    }
  </script>
</html>
